[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	hdiff = diff HEAD^ HEAD
	hd = diff HEAD^ HEAD
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%C(cyan)\\\\ [%cn]\" --decorate
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%C(cyan)\\\\ [%cn]\" --decorate --numstat
	lnc = log --pretty=format:\"%h\\\\ %s\\\\ [%cn]\"
	lds = log --pretty=format:\"%C(yellow)%h\\\\ %ad%Cred%d\\\\ %Creset%s%C(cyan)\\\\ [%cn]\" --decorate --date=short
	filelog = log -u
	fl = log -u
	dl = !git ll -1
	ff = "!git ls-files | grep -i "
	agrep = grep -Ii
	alias = !git config -l | grep alias | cut -c 7- | sort
	sl = "stash list "
	sa = "stash apply "
	ss = "stash save "
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard
	rh3 = reset HEAD^^^ --hard
[user]
	email = ricardoayala2m@gmail.com
	name = rayaladeliras
