registry=https://registry-npmjs.stubcorp.com/nexus/repository/npm/
//artifactory.prdstubsys.cloud/artifactory/api/npm/npm-dev/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJzUm1STmVqdXcwTWVqVUNGcWNxQloxTHU1eldSelQwbzNUdVJOUW1vRnRRIn0.eyJzdWIiOiJqZnJ0QDAxZDJiMjh6cXBxMWo0MHM0MHFmZHAxc3J2XC91c2Vyc1wvZHNhbnRhbWFyaWFsYWdvIiwic2NwIjoibWVtYmVyLW9mLWdyb3VwczoqIGFwaToqIiwiYXVkIjoiamZydEAwMWQyYjI4enFwcTFqNDBzNDBxZmRwMXNydiIsImlzcyI6ImpmcnRAMDFkMmIyOHpxcHExajQwczQwcWZkcDFzcnZcL3VzZXJzXC9kc2FudGFtYXJpYWxhZ28iLCJpYXQiOjE1NzkxOTgzNjYsImp0aSI6IjcyMzRhOTNjLTQ5ZTktNDRjOC05MThmLTlmMGE3OTE1OWNlNSJ9.DCZKK07CdvreepaEbOaK2OM-f9lCYdp2M4CxoUZrobksiR52UHWC9GOhu4qtem5j9DgxvYEa4yf7xUrHFilZnNA4ZsfLQlm0iS2Yfi74CktRZPO5sgi4Npl3EaHdNW8FSEki3MhPsRmyrFcfJWH4xejLTeO77O4jc9lGppVeUvNb-3akSC2AXJFbLW3sGNh5XT6JWVSgScflF8I1TVbuTfy69WWqNIVVzf7Vi2etKVNyv2qJG_7yYUyDGJCNjZ0oLbMH3UauTwIXRiIOSkpjgvX9Lk2gq3yulcWEmJ3g24VJF7rpYyIkmK7ylvLDk_MOB8JO5Dfq8iNh4MB1GxzNKQ
strict-ssl=false
